*{
    margin: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    text-align: center;
    background-color: black;
    background-image: url(./assets/quantum\ background\ network\ .jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 120vh;
    font-family: 'Lato', sans-serif;
}

section{
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-position: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 40px;
}

header{
    text-align: left;
    padding-top: 10px;
    padding-left: 40px;
}

img{
    max-width: 15%;
    max-height: 15%;
    width: auto;
    height: auto;
}

h1{
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    padding-bottom: 50px;
}

p{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
    color: white;
    opacity: .8;
}

.text{
    padding: 0;
    height: auto;
    width: auto;
    position: absolute;
    top:300px;
    left: 100px;
    text-align: center;
}

.text span{
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}



div img{
    max-width: 75%;
    max-height: 75%;
    height: auto;
    width: auto;
    margin-left: 550px;
    padding-right: 0px;
}

a{
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    line-height: 24px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 12px 32px;
    bottom: 100px;
    left: 280px;
}

a:hover{
    color:black;
    background-color: white;
}