* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Futura ND;
  src: url("./assets/futura-nd-bold.ttf");
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

body{
  width:1980px;
}

section {
  min-height: 100vh;
  padding: 5rem 9% 2rem;
}

.logo {
  width: 7%;
  cursor: default;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background-color: black;
  height: 7%;
}

.navbar .cart {
  font-size: 3rem;
  margin-left: 10rem;
}

.navbar a {
  font-size: 2rem;
  font-weight: 600;
  margin-left: 7rem;
  color: white;
}

.home {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-items: center;
  background: black;
  background-image: url(./assets/Sem\ título.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.home-content {
  display: block;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.home-content h1 {
  font-size: 6rem;
  font-weight: 900;
  margin-bottom: 4rem;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Futura ND;
  text-transform: uppercase;
}

.btn {
  display: inline;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 200rem;
  padding: 0.8rem;
  color: black;
  background-color: white;
  transition: 0.2s ease;
}

.btn:hover {
  transform: scale(1.1);
  background-color: black;
  color: white;
}

.home-img img {
  width: 60%;
  margin-left: 30rem;
  margin-bottom: 10rem;
  transform: rotate(13deg);
}
.heading {
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  color: white;
}

.product {
  background: black;
}

.product h1 {
  margin-bottom: 4rem;
  font-weight: 700;
  color: white;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 2.5rem;
  padding-top: 5rem;
}

.product-container .product-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-box {
  height: 50rem;
  width: 30rem;
}

.product-box img {
  width: 85%;
  margin-top: 1.2rem;
  border-radius: 2rem;
}

.product-box .product-layer {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
}

.product-layer h3 {
  font-size: 3rem;
  margin-top: 1rem;
  color: white;
}

.aboutUs {
  background: black;
}

.aboutUs h1 {
  margin-bottom: 3rem;
}

.aboutUs p {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  opacity: 0.7;
}

.contact {
  background: black;
}

.contact h1 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: black;
  background-color: white;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .input-box input {
  width: 50%;
  font-weight: 700;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 7%;
  align-items: center;
}

.links {
  padding: 1rem;
  margin-left: 1rem;
}

.links a {
  color: white;
  margin-left: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.social {
  font-size: 2.5rem;
  margin-right: 3rem;
}

.social a {
  margin-right: 1rem;
  color: white;
}
